@font-face {
    font-family: OpenSans;
    src: url("/fonts/OpenSans.ttf");
}

*, *::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: OpenSans;
}

:root {
    --white: #fefeff;
    --light-gray: #f5f5f9;
    --dark-gray: #454545;
    --black: #2b2b2b;
    --blue: #696cff;
    --red: #ca3e47;
    --green: #80e04d;

    --side-bar-width: 4rem;
    --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    color: var(--black);
}

button, input, textarea {
    border: none;
    outline: none;
    background: none;
}

.btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5em 1.25em;
    border-radius: .25em;
    background-color: var(--light-gray);
    transition: all .3s ease-out;
    cursor: pointer;
}

.btn.primary {
    color: white;
    background-color: var(--blue);
}

.btn:hover {
    color: var(--white);
    background-color: var(--dark-gray);
}
